<%= render 'shared/navbar' %>
<br><br>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h3>Offer your Van to Fellow Travelers</h3>
      <br>
      <br>
      <%= simple_form_for(@van) do |f| %>
        <%= f.input :title %>
        <%= f.input :brand %>
        <%= f.input :model %>
        <%= f.input :description %>
        <%= f.input :price_per_day %>
        <%= f.input :location %>
        <%= f.input :photo, as: :file %>
        <br>
        <%= f.submit 'Create van', class: 'create btn btn-warning', style: "margin-right: 10px; border-radius: 50px" %>
        <%= link_to 'Back Home', root_path, class: 'btn btn-outline-dark', style: "margin-right: 10px; border-radius: 50px" %>
      <% end %>
    </div>
  </div>
</div>
