<%= render 'shared/navbar' %>
<br>
<div class="container mt-5">
  <div class="profile-image">
      <% if @van.photo.attached? %>
    <%= cl_image_tag @van.photo.key, :width=>1100, :height=>500, crop: :fill, style:"border-radius: 20px" %>
      <% else %>
      <img src="<%= @van.photo_url %>" alt="" width="1100" height="500" style="border-radius: 20px">
      <% end %>
  </div>
  <br>
    <%= link_to 'Back', vans_path, class: 'btn btn-outline-dark' %>
  <div style="margin-bottom: 50px">
    <h1><%= @van.title %></h1>
    <h5><%= @van.brand %> <%= @van.model %></h5>
  </div>

<div class="d-inline-flex features" style="margin-bottom: 50px">
    <div style="margin-right: 50px">
      <i class="fas fa-shower"></i>
      <p>has a shower</p>
    </div>
    <div style="margin-right: 50px">
      <i class="fas fa-shuttle-van"></i>
      <p>5.99m long</p>
    </div>
    <div style="margin-right: 50px">
      <i class="fas fa-bed"></i>
      <p>has 5 beds</p>
    </div>
  </div>

  <div style="margin-bottom: 50px">
    <h3>About this van</h3>
    <p><%= @van.description %></p>
  </div>

</div>
<%= simple_form_for [@van, @booking] do |f| %>
<%=   f.input :start_time  %>
<%=   f.input :end_time %>
<%=   f.submit 'Create Booking' %>
<% end %>
