<%= render 'shared/navbar' %>
<br><br>
<div class="container mt-5">
  <%= link_to "Back", root_path, class: 'create btn btn-outline-dark', style: "border-radius: 50px" %>
  <div class="container mt-5">
    <h4>My booked Vans</h4>
    <p>Check out your upcoming bookings.</p>
  </div>
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <% if booking.van.photo.attached? %>
      <%= cl_image_tag booking.van.photo.key, crop: :fill %>
      <% else %>
      <img src="<%= booking.van.photo_url %>" alt="">
      <% end %>
      <div class="container-card">
        <div class="card-product-infos">
          <div class="row">
            <h1><%= booking.van.title %></h1>
          </div>
          <div class="row">
            <p><%= booking.start_date %></p>
            <p><%= booking.end_date %></p>
            <p><%= booking.confirmed %></p>
          </div>
          <div class="row">
            <h2><%= booking.van.brand %> - <%= booking.van.model %></h2>
          </div>
          <div class="row">
            <p><%= booking.van.description %></p>
          </div>
          <div class="row">
            <p>You rent your camper van from: <%= booking.van.user.first_name %></p>
          </div>
          <div class="row loc">
            <p><%= booking.van.location %></p>
          </div>
          <div class="buttons">
            <div>
              <% if policy(booking).edit? %>
                <%= link_to "edit booking", edit_booking_path(booking), class: "btn btn-success", style: "border-radius: 50px; margin-right: 10px" %>
              <% end %>
            </div>
            <div>
              <% if policy(booking).destroy? %>
                <%= link_to "delete booking", booking_path(booking), method: :delete, data: {confirm: 'Are you sure you want to delete?'}, class: "btn btn-danger", style: "border-radius: 50px; margin-right: 10px" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
