<div class="container mt-5">
  <h1>My booked Vans</h1>
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <% if booking.van.photo.attached? %>
      <%= cl_image_tag booking.van.photo.key, crop: :fill %>
      <% else %>
      <img src="<%= booking.van.photo_url %>" alt="">
      <% end %>
      <div class="container-card">
        <div class="card-product-infos">
          <div class="row">
            <h1><%= booking.van.title %></h1>
          </div>
          <div class="row">
            <p><%= booking.start_time %></p>
            <p><%= booking.end_time %></p>
            <p><%= booking.confirmed %></p>
          </div>
          <div class="row">
            <h2><%= booking.van.brand %> - <%= booking.van.model %></h2>
          </div>
          <div class="row">
            <p><%= booking.van.description %></p>
          </div>
          <div class="row loc">
            <p><%= booking.van.location %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to "Back", root_path, class: 'create btn btn-warning' %>
</div>
