<div class="container mt-5">
  <h1>My booked Vans</h1>
  <%= link_to "Back", root_path, class: 'create btn btn-warning' %>
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <% if booking.van.photo.attached? %>
      <%= cl_image_tag booking.van.photo.key, crop: :fill %>
      <% else %>
      <img src="<%= booking.van.photo_url %>" alt="">
      <% end %>
      <div class="container-card">
        <div class="card-product-infos">
          <div class="row">
            <h1><%= booking.van.title %></h1>
          </div>
          <div class="row">
            <p><%= booking.start_date %></p>
            <p><%= booking.end_date %></p>
            <p><%= booking.confirmed %></p>
          </div>
          <div class="row">
            <h2><%= booking.van.brand %> - <%= booking.van.model %></h2>
          </div>
          <div class="row">
            <p><%= booking.van.description %></p>
          </div>
          <div class="row">
            <p>You rent your camper van from: <%= booking.van.user.first_name %></p>
          </div>
          <div class="row loc">
            <p><%= booking.van.location %></p>
          </div>
          <div>
            <%# if policy(@booking).destroy? %>
              <%= link_to "delete booking", booking_path(booking), method: :delete, data: {confirm: 'Are you sure you want to delete?'}, class: "btn btn-outline-dark" %>
              <%= link_to "edit booking", booking_path(booking), method: :edit, data: {confirm: 'Are you sure you want to edit?'}, class: "btn btn-outline-dark" %>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
