<%= render 'shared/navbar' %>
<br><br>
<div class="container mt-5 mb-5">
  <div class="container">
    <h4>My Offers</h4>
    <p>Keep track of your offered vans and accept or decline a booking.</p>
  </div>
  <div class="container">
    <div class="row">
      <% if @offers.empty?%>
        <div class="container mt-5 notification">
          <p>Nothing to display here. You are currently not offering a van for rent or nobody has booked it.</p>
          <a class="btn btn-ghost" href="/vans/new">Offer My Van</a>
        </div>
      <% else %>
       <% @offers.each do |offer| %>
          <div class="card" style="width: 18rem">
              <%= cl_image_tag offer.van.photo.key, crop: :fill, class: "card-img-top" %>
            <div class="card-body">
              <% if offer.status == "Accepted"%>
                <p class="card-text status-green" style="border-radius: 50px">Accepted</p>
              <% elsif offer.status == "Declined"%>
                <p class="card-text status-red" style="border-radius: 50px">Declined</p>
              <% else %>
                <p class="card-text status-red" style="border-radius: 50px">Pending</p>
              <% end %>
                <h5><%= link_to offer.van.title, van_path(offer.van) %></h5>
                <p class="card-text"><%= offer.user.first_name %> <%= offer.user.last_name %></p>
                <p class="card-text"><%= offer.user.email %></p>
                <p class="card-text"><%= offer.start_date %> – <%= offer.end_date %></p>
                <%= link_to "Accept", confirm_path(status: "Accepted", booking_id: offer.id), method: :patch, class: "btn btn-success", style: "color: white; border-radius: 50px"%>
                <%= link_to "Decline", confirm_path(status: "Declined", booking_id: offer.id), method: :patch, class: "btn btn-danger", style: "color: white; border-radius: 50px"%>
            </div>
          </div>
            <% end %>
        <% end %>
      </div>
    </div>
</div>
